<div id="quarter-circle" onclick="toggleQuarterCircle()">
    <img id="icon" src="{{ url_for('static', filename='icon.png') }}" alt="User Icon">
    <div class="buttons">
        <button onclick="location.href='/sign_out'">Se Déconnecter</button>
        <button onclick="location.href='/sign_up'">Mon Compte</button>
    </div>
</div>
<div class="title-container">
    <span class="char">P</span>
    <span class="char">o</span>
    <span class="char">s</span>
    <span class="char">t</span>
    <span class="char">e</span>
    <span class="char">r</span>
    <span class="char"> </span>
    <span class="char">M</span>
    <span class="char">a</span>
    <span class="char">k</span>
    <span class="char">e</span>
    <span class="char">r</span>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>