<!doctype html>
<title>Evaluation</title>
<h1>Bienvenue sur votre projet Métriques</h1>
<h2>Ceci est le projet de : Prénom Nom</h2>
<p><a href="/">Liste des images</a></p>
<!-- <p><a href="https://snksnw2.alwaysdata.net/form_upload">Pour uploader une image</a></p>
<p><a href="https://snksnw2.alwaysdata.net/enregistrer_perso">Pour enregistrer un personnage</a></p> -->
<p><a href="/enregistrer_et_uploader">Pour enregistrer un personnage et son image</a></p>
<p><a href="/lecture">Pour se connecter</a></p>
<p><a href="/enregistrer_client">Pour s'inscrire</a></p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h2>FIN DU PROJET</h2>
