<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <title>Accueil</title>
</head>
<body>
    {% include 'header.html' %}

    <a href="/poster_list">
        <button>Voir vos posters</button>
    </a>
    <a href="/poster_creator">
        <button>Création de poster</button>
    </a>
    <a href="/model_list">
        <button>Voir vos modèles</button>
    </a>
    <a href="/user_beads">
        <button>Vos couleurs</button>
    </a>
    <a href="/add_image">
        <button>Ajouter une image</button>
    </a>


</body>
</html>
