<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        img {
            width: 100px;
            height: auto;
        }
        .checkbox-group {
            display: flex;
            flex-wrap: wrap;
        }
        .checkbox-group div {
            width: 20%;
        }
    </style>
</head>
<body>
    <h1>Model List</h1>

    <form method="post" action="{{ url_for('ModelList') }}">
        <label for="colors">Filter by Colors:</label><br>
        <div class="checkbox-group">
            {% for color in colors %}
                <div>
                    <input type="checkbox" name="colors" value="{{ color[0] }}" id="color_{{ color[0] }}"
                        {% if color[0] in selected_colors %}checked{% endif %}>
                    <label for="color_{{ color[0] }}">{{ color[1] + "/" + color[2] }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                {% for color in colors %}
                    <th>{{ color[2] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td><img src="{{ image[1] }}" alt="Image"></td>
                    {% for color in colors %}
                        <td>
                            {% set found = false %}
                            {% for img_color in image[2] %}
                                {% if img_color[0] == color[0] %}
                                    {{ img_color[2] }}
                                    {% set found = true %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>