<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Perso</title>
</head>
<body>
    <h1>Liste des Personnages</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Licence</th>
            <th>Lien d'image</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td> <img src="{{ url_for('static', filename='images/' + row[3]) }}" class="image" /> </td>


            <!-- <-- <td> <img src="{{ url_for('static', filename=' {{ row[3] }} ') }}"/></td> -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
